* {
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.top-container {
    display: flex;
    background-color: #1F2937;
    color: #fff;
    justify-content: center;
}

.top-container div {
    justify-content:space-between;
    padding: 0 100px
}

.header-logo {
    font-weight: bolder;
    font-size: 48px;
}

.link {
    font-size: 18px;
    display: flex;
    justify-content: space-around;
}

.link div{
    justify-content: end;
    padding: 20px 50px;
}

.banner-sign-up {
    display: flex;
    justify-content: center;
    background-color: #1F2937;
}

.banner-sign-up div {
    justify-content: space-between;
}


.left-placeholder {
    background-color: #1F2937;
    width: 400px;
    color: #E5E7EB;
}

.empty {
    display: flex;
    width: 170px;
    padding: 10px;
}

.left-placeholder h1 {
    color: white;
    margin: 20px 0;
}

.right-placeholder {
    background-color: grey;
    color: white;
}

.sign-up-button {
    background-color:#3882F6; 
    color: white;
    font-weight: bold;
    padding: 3px 20px;
    border-radius: 5px;
    border-color: white;
    border: 10px ;
}