* {
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.top-container {
    display: flex;
    background-color: #1F2937;
    color: #fff;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: 1px solid white;
    flex-wrap: wrap;
    min-width: 100px;
}

.top-container div {
    width: 100px;
    gap: 50px;
    border: 1px solid white;
}

.edge-margin {
    width: 100;
    height: 50px;
    min-width: 100px;
    flex:0.5 0 auto;
}

.header-logo {
    font-weight: bold;
    font-size: 35px;
    flex: 1 1 auto;
}

.link {
    font-size: 18px;
    display: flex;
    gap: 10px;
    flex: 1 1 auto;
    justify-content: center;
    align-items: center;
    min-width: 150px;
}

.link div {
    flex: 1 1 auto;    
}








.some-info-container {
    display: flex;
}
.banner-sign-up {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    gap: 10px;
    min-width: 100px;
    /*border: 1px solid white;*/
}

.banner-container {
    display: flex;
    padding: 100px 0;
    gap: 10px;
    width: 500px;
}
.banner-sign-up div {
    justify-content: center;
    border: 1px solid white;
    flex: 1 1 auto;
}


.left-placeholder {
    background-color: #1F2937;
    color: #E5E7EB;
    width: 245px;
    padding: 10px 0;
}

.some-text {
    height: 100px;
    margin: 10px 0;
    width: 245px;
}

.left-placeholder h1 {
    color: white;
    width: 0px;
}

.right-placeholder {
    background-color: grey;
    color: white;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 245px;
    flex: 1 1 auto;

}

.sign-up-button {
    background-color:#3882F6; 
    color: white;
    font-weight: bold;
    padding: 4px 20px;
    border-radius: 5px;
    border-color: white;
    border: 10px ;
}


/*
.some-info-contaiblockner {
    display: flex;
    justify-items: center;
    background-color: blue;
}


.title-container {
    justify-content: center;
}

.one, 
.two, 
.three, 
.four{    
    background-color: red;
    width: 50px;
    height: 50px;
    justify-content: space-between;
    border:4px solid white;
    border-radius: 10px;
}*/